1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [13]:
result=[]

for x in range(1,101):
    if (x%3==0 and x%5==0):
        result+=["MickeyMouse"]     
    elif (x%5==0): 
        result+=["Mouse"]
    elif (x%3==0): 
        result+=["Mickey"]
    else :
        result+=[x]
        
print(result)

for i in range(1,len(result)):
    if (result[i]=="MickeyMouse"):
           result[i]="DonaldDuck" 
    elif (result[i]=="Mouse"): 
           result[i]="Duck" 
    elif (result[i]=="Mickey"): 
           result[i]="Donald" 

resultt=tuple(result)
print(resultt)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [28]:
def swap(x,y):
    t=0
    t=x
    x=y
    y=t
    return x,y
def swap2(x,y):
    x,y=y,x
    return x,y

x=input("insert x ")
y=input("insert y ")

x,y=swap2(x,y)

print(x)
print(y)

insert x 2
insert y 3
3
2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [35]:
def norm(a,b):
     d=pow((pow((a[0]-b[0]),2)+pow(a[1]-b[1],2)),0.5)
     return d

u=(3,0)
v=(0,4)

print(norm(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [45]:
def numcar(s):
     s.lower()
     s1=set(s)
     for j in s1: 
        num=s.count(j)
        print(j,num)
            
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
            
numcar(s)

W 1
b 4
  41
h 9
s 9
u 9
w 1
y 2
m 8
0 2
r 17
M 4
. 2
o 13
l 6
a 7
e 22
i 14
B 1
1 2
g 1
p 8
d 3
F 1
f 9
t 19
c 3
n 10
v 2
k 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [56]:
def unique(l):
    c=0
    l.sort()
    if l[0]!=l[1]:
        print(l[0])
        c+=1
    if l[-1]!=l[-2]:
        print(l[-1])
        c+=1
    for i in range(1,len(l)-1):
        if (l[i-1]!=l[i] and l[i]!=l[i+1]):
            print(l[i])
            c+=1
    return c       


l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

c=unique(l)
print(c)

1
99
5
8
9
10
16
18
19
24
30
33
37
39
41
47
53
54
55
57
58
64
72
74
75
79
81
82
86
87
88
90
92
94
95
96
98
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [5]:
def sqr(a):
    a=a*a
    return a
def cube(a):
    a=a*a*a
    return a
def six(a):
    a=cube(sqr(a))
    return a
    
    

print(six(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [11]:
for x in range(0,11): print (x*x*x)

l=[]
for x in range(0,11):
    l+=[x]
for x in l:
    print(x*x*x)

0
1
8
27
64
125
216
343
512
729
1000
0
1
8
27
64
125
216
343
512
729
1000

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [89]:
t=[]
for a in range(1,101):
       for b in range(a,101):
             for c in range(b,101):
                    if ((a*a)+(b*b)==(c*c)):
                        p=(a,b,c)
                        t+=[p]
                        print(len(t))
                        for i in range(0,len(t)):
                            if (p[0]%t[i][0]==0 and a>3):
                                t.pop()
                              
            
print(t)

1
2
2

IndexError: list index out of range

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [45]:
def norm(t):
    sum=0
    norm=0
    a=[]
    for i in t:
        sum+=i*i
    nor=pow(sum,0.5)
    for i in range(0,len(t)):
        a+=[t[i]/nor]
    return a

t=(2,6,4,9,2)
print(t)
print(norm(t))

(2, 6, 4, 9, 2)
[0.1684303842133038, 0.5052911526399114, 0.3368607684266076, 0.7579367289598671, 0.1684303842133038]